// https://api.youneedabudget.com/
const YNAB_TOKEN = 'xxx';

// https://api.youneedabudget.com/v1#/Accounts/getAccounts
const YNAB_ACCOUNTS = {
    citibank: 'xxx',
    mbank: 'xxx',
    revolut: 'xxx',
};

// https://api.youneedabudget.com/v1#/Budgets/getBudgets
const YNAB_BUDGET = 'xxx';

// https://api.youneedabudget.com/v1#/Payees/getPayees
const YNAB_PAYEES = [
    {
        pattern: /Biedronka/i,
        id: 'xxx',
    },
];

module.exports = {
    YNAB_TOKEN,
    YNAB_ACCOUNTS,
    YNAB_BUDGET,
    YNAB_PAYEES,
};
